#################################
#
# Microservice Config file for Microservice Makefile
#
#################################

#################################
# Attributes
#################################
# uSERVICE_NAME must match the "Microservice Unique ID" of the Mircoservice defined in "Microservice Store".
uSERVICE_NAME=<NOT_SET>
uSERVICE_VERSION_STR=<NOT_SET>
uSERVICE_CPU_CORE=<NOT_SET>

uSERVICE_CODE_SIZE=<NOT_SET>
uSERVICE_RAM_SIZE=<NOT_SET>
uSERVICE_MAINSTACK_SIZE=<NOT_SET>

#################################
# Build Entities
#################################
uSERVICE_CFLAGS=-O
uSERVICE_LDFLAGS=<NOT_SET>
uSERVICE_SOURCE_FILES=<NOT_SET>
uSERVICE_INCLUDE_DIRS=<NOT_SET>

#################################
# GCC Entities
#################################
uSERVICE_TOOLCHAIN_GCC_PATH=<NOT_SET>

# [OPTIONAL] CUSTOM LD PATH FOR MICROSERVICE
# uSERVICE_GCC_LD_PATH=<NOT_SET>
