#################################
#
# Microservice Config file for Microservice Makefile
#
#################################

#################################
# Attributes
#################################
# uSERVICE_NAME must match the "Microservice Unique ID" of the Mircoservice defined in "Microservice Store".
uSERVICE_NAME=TINYAES
uSERVICE_VERSION_STR=1.0
uSERVICE_CPU_CORE=CortexM4

uSERVICE_CODE_SIZE=0x4000
uSERVICE_RAM_SIZE=0x1000
uSERVICE_MAINSTACK_SIZE=0x800

#################################
# Build Entities
#################################
uSERVICE_CFLAGS=-O
uSERVICE_LDFLAGS=

uSERVICE_SOURCE_FILES=\
	Source/main.c \
	Source/tiny-AES/tiny-aes.c

uSERVICE_INCLUDE_DIRS=\
	-ISource/tiny-AES/ \
	-IInclude/

#################################
# GCC Entities
#################################
uSERVICE_TOOLCHAIN_GCC_PATH="C:/Program Files (x86)/GNU Arm Embedded Toolchain/10 2021.10/bin/"

# [OPTIONAL] CUSTOM LD PATH FOR MICROSERVICE
# uSERVICE_GCC_LD_PATH=<NOT_SET>
